* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

.grid-wrapper {
    max-width: 2340px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 20px;
}

img {
    width: 100%;
}